body{
    background-image: url(Img/Wuthering-Waves-Header.webp);
    width: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:#ffec61;
}
img{
    text-align: left;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 90px 0px 0px 0px;
    color: white;
    
}
nav ul li {
    margin: 0 5px;
    display: inline;
    
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px;
}
li a:hover{
    text-decoration: underline;
}
nav{
    display: flex;
}

main{
    width: 50px;
    
    background-color: rgb(29, 28, 28);
}

    
    